.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 100%;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px;
    transition: left 0.3s;
}

.navbar.show {
    left: 0 !important;
}

.hide-scroll {
    overflow: hidden;
}

.navbar ul {
    all: unset;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

/*---------- # Article ----------*/
.contentContainer{
    display: flex;
    align-items: center;
    gap: 20%;
    padding-left: 10%;
    padding-right: 10%;
}
.contentImg{
    width: 400px; 
    height: 350px; 
    border-radius: 50%; 
    background-color: #f9f9f9;
    
}
.contentText{
    display: flex;
    padding-top: 20%;
    padding-bottom: 20%;
    flex-direction: column;
 
}
.text {
    font-size: 17px; 
    line-height: 1.5;
    color: black; 
    padding: 10px; 
    width: 100%; 
    height: fit-content; 
}

/*---------- # Footer ----------*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
}
.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    width: 15%;
    padding-left: 10%;
}
.copyright{
    text-align: center;
    font-size: 17px;
    color: black;
    padding-right: 35%;
}

